<script type="text/javascript">
require(['kindeditorZh_CN','WdatePicker','jqtransform'], function(){
    var editor = KindEditor.create('#kindeditor');
    $('.form-horizontal').jqTransform();

});
</script>
<div class="main">
    <div class="page-header">
        <h3>
            <span>基础信息</span>
        </h3>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="text-red">*</span>
                姓名：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" />
            </div>
            <div class="col-sm-5 help-block">姓名字数限制在35字</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span class="text-red">*</span>
                发布时间：
            </label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input id="d5221" type="text" class="form-control" onFocus="var d5222=$dp.$('d5222');WdatePicker({onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
                    <span class="input-group-addon" id="sizing-addon1">-</span>
                    <input type="text" id="d5222" class="form-control Wdate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'d5221\')}'})"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发布机构：</label>
            <div class="col-sm-4">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">多选：</label>
            <div class="col-sm-4">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">一</label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2">二</label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3">三</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否代办：</label>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">是</label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">否</label>
            </div>
        </div>
        <div class="page-header">
            <h3>
                <span>备注资料</span>
            </h3>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">详情：</label>
            <div class="col-sm-8">
                <textarea id="kindeditor" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-long">确认修改</button>
            </div>
        </div>
    </form>
</div>

